@mixin pc_default {
    @media screen and (min-width:1280px) and (max-width:1919px) {
      #headBox{height:140px;padding:50px 0;
        .nav{width:74vw;height:100%;
          h1{width:82px;height:44px;}
          .unb{width:auto;height:100%;
            li{margin-right:70px;
              &:nth-child(1){a{@include link;color:#fff;font-size:1rem;line-height:2.5rem;}}
              &:nth-child(2){margin-top:7px;width:30px;height:30px;}
              &:nth-child(3){margin-top:2px;width:36px;height:36px;margin-right:0;}
            }
            .menu_icon{width:36px;height:36px;}
            .menu_icon span{width:36px;height:2px;}
          }
          .menu_page{
            ul{top:200px;width:800px;column-count:2;}
            li{a{margin-bottom:65px;}}
          }
        }
      }//#headBox --------------------------
      #headBox.action{padding-top:8px;
        .nav{width:94vw;height:100%;
          h1{margin-top:3px;width:76px;height:40px;}
          .unb{width:176px;height:auto;
            li{margin-right:32px;
              &:nth-child(1){font-size:0.75rem;}
              &:nth-child(2),&:nth-child(3){margin-top:7px;width:30px;height:30px;}
              &:nth-child(3){margin-right:0;}
            }
            .menu_icon{width:30px;height:30px;}
            .menu_icon span{width:30px;height:2px;}
          }
        }
      }//#headBox.action --------------------------
      #viewBox{
        li>div{
          >p{position:absolute;top:140px;left:13vw;width:480px;height:auto;font-size:4.75rem;line-height:4rem;font-weight:bold;
            & span:first-child{font-size:2.25rem;line-height:3.125rem;}
            & span:nth-child(2){font-size:6rem;}
          }
        }
        .view_02_text{h3{top:360px;}.lineup{top:460px;}}
        .view_03_text{.lineup{top:530px;}}
        .view_04_text{p{width:560px;}h3{width:1000px;}.lineup{top:580px;}}
        h3{position:absolute;top:400px;left:13vw;width:580px;height:auto;font-size:1.75rem;}
        .lineup{position:absolute;top:500px;left:13vw;}
        .down_arrow{@include center;z-index:1000;top:95%;width:35px;height:35px;@include bg("../img/arrow/arrow_down.png",50%,50%);transition:all 0.3s ease;
          a{@include link;}
          &:hover{transform:scale(1.2)translateY(5px);}
        }
      }//viewBox --------------------------
      #familyBox{
        .family_title{width:420px;height:auto;margin:auto;
          p{width:100%;height:auto;font-size:5rem;line-height:5rem;font-weight:bold;
            span{width:auto;height:auto;font-size:1.5rem;line-height:0.625rem;}
          }
        }
        .family_area_02{height:1710px;
          .family_i{position:relative;width:100%;height:402px;margin-bottom:150px;
            li{box-sizing:border-box;}
            li:nth-child(1){position:absolute;padding-top:50px;
              p{width:318px;font-size:3rem;line-height:2rem;font-weight:bold;
                span{display:block;text-align:left;font-size:1.25rem;}
              }
              h3{@include center;bottom:-50px;color:#fff;text-align:left;font-size:1.125rem;white-space:nowrap;}
            }
            li:nth-child(2){position:absolute;width:840px;height:100%;}
            .lineup{position:absolute;top:250px;}
          }
          .fi_02{li:nth-child(1){p{width:300px;text-align:right; span{text-align:right;}}h3{text-align:right;}}}
          .fi_03{li:nth-child(1){p{width:265px;}}}
          .fi_01,.fi_03{
              li:nth-child(1),li:nth-child(3){left:870px;}
          }
          .fi_02{
              li:nth-child(1),li:nth-child(3){right:870px;}
              li:nth-child(2){right:0;}
          }
          .f_img{opacity:0;margin-top:200px;transition:all 1.2s ease;}
          .family_i .f_img.action{opacity:1;margin-top:0;}
        }
      }//familyBox --------------------------
      
      @include productBox(180px,540px,416px,400px,264px);
      #productBox{
            li{
              >div{margin-top:30px;
                p:nth-child(1){font-size:1.5rem;white-space:nowrap;text-align:center;font-weight:bold;}
                p:nth-child(2){margin-bottom:2.375rem;}
                p:nth-child(2),h3{font-size:1rem;text-align:center;}
              }
              &:not(:nth-child(4)){opacity:0.5;}
            }
        @include indicator_bar(1000px,125px,375px);
        .bar{@include center;top:700px;}
      }//#productBox --------------------------

      #learnBox{position:relative;
        .learn_area{height:1980px;padding:180px 194px;box-sizing:border-box;}
        ul{position:relative;width:100%;height:100%;
          li{width:400px;height:auto;
            div:first-child{width:400px;height:400px;margin-bottom:28px;
              a{@include link;}
            }
            >p{font-size:24px;font-weight:bold;text-align:left;margin-bottom:30px;}
            h3{font-size:1rem;text-align:left;margin-bottom:30px;}
            &:nth-child(2){margin-left:100%;transform:translate(-100%, -30%);}
            &:nth-child(3){transform:translateY(-70%);}
            &:nth-child(4){margin-left:100%;transform:translate(-100%, -100%);}
          }
        }
        .learn_bg{height:1000px;background-position:50% 10%;}
      }//#learnBox --------------------------
      #exploreBox{position:relative;
        >ul{padding-top:80px;box-sizing:border-box;
          li{.ex_bg{@include center;width:500px;height:276px;top:200px;margin:auto;}
            >p{font-size:3.125rem;margin-top:16px;font-weight:bold;
              span:first-child{font-size:78px;}
              span:last-child{text-transform:lowercase;}
            }
            h3{width:auto;font-size:18px;margin:auto;font-weight:normal;}
            .lineup{@include center;top:500px;}
          }
        }
      }//#exploreBox --------------------------
      #dsMlBox{
        //ds
        .deal{position:relative;width:100%;height:1146px;padding-top:100px;box-sizing:border-box;
          p{font-size:3.75rem;margin-bottom:60px;font-weight:bold;}
          >h3{width:484px;font-size:1.5rem;margin:auto;margin-bottom:76px;}
          h4{font-size:1.5rem;margin:330px auto 40px;font-weight:bold;}
          .lineup{@include center;top:400px;}
        // ml
          .myL{width:524px;height:200px;margin:auto;
            ul{float:left;width:auto;height:auto;margin-right:58px;
              li{width:auto;height:auto;margin-bottom:18px;
                h3{width:115px;margin:auto;font-size:1rem;margin-bottom:18px;padding-bottom:3px;}
                a{font-size:0.875rem;font-weight:normal;}
              }
              &:nth-child(2){h3{width:88px;}}
              &:nth-child(3){h3{width:84px;}}
            }
            ul:last-child{margin-right:0;}
          }
        }
      }//#dsMlBox --------------------------
      #footBox{position:relative;height:800px;padding:70px 160px 0;box-sizing:border-box;
        .ci_area{height:auto;font-size:11px;text-align:left;
          dl{float:left;width:25%;
            dt{float:left;width:100%;font-weight:bold;margin:20px 0 10px;}
            dd{width:100%;height:auto;line-height:1.8rem;
             a{@include link;}
            }
            &:nth-child(5){margin-top:-88px;}
          }
        }
            i{text-indent:8px;}
        .copyright_area{height:auto;
          ul:first-child{@include center;bottom:220px;width:350px;height:auto;
            li{float:left;margin-right:14px;line-height:3.125rem;font-size:0.625rem;font-weight:bold;
              a{@include link;}
            }
          }
          .sns{@include right(410px,20.4%);bottom:122px;width:134px;height:30px;
            li{float:left;width:30px;height:100%;margin-right:22px;
              &:nth-child(2){@include center;top:4.5px;}
              &:nth-child(3){float:right;margin-right:0;}
              a{@include link;}
            }
          }
          .copy{@include center;bottom:200px;width:auto;font-size:10px;font-weight:bold;
            span{font-weight:bold;}
          }
          p:last-child{@include center;bottom:80px;width:948px;font-size:0.5625rem;word-break:keep-all;}
        }
      }//footBox --------------------------
    }
  }